@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Welcome to ABC Money Transfer</h1>
    <p>Navigate using the menu to Register, Login, or initiate a transfer.</p>
</div>
